.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 5px;
    gap:1px;

    transition: all .3s ease;
}

.icon {
    max-width: 40px;
}

.container:hover {
    margin-top: -5px;
}