body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color:white;
  font-family: 'Asap';
  font-weight: 400;
  /* background: linear-gradient(355deg, #c5f5ff 0, #93d3f4 25%, #55add8 50%, #0089bd 75%, #0069a6 100%); */
  background-size: cover;
  background-attachment: fixed;
  
  /* animation: changeBackgroundColor 7s infinite; */

  animation: fadeIn 2s, changeBackgroundColor 7s infinite;
}

.container {
  height: 100vh;
  width: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*::-webkit-scrollbar {
  background-color: #ffffff00; 
  padding: 2px;
  width: auto;
  height: 7px;
  width: 7px;
}

*::-webkit-scrollbar-thumb {
  background-color: #ffffff46; 
  border-radius: 10px;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #ffffff69; 
  border-radius: 10px;      
}

hr {
  box-shadow: 2px 2px rgba(0, 0, 0, 0.009);
}

.shadowCard {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes changeBackgroundColor {
  0% {
    background-color: #001F3F;
  }
  50% {
    background-color: #285b79;
  }
  100% {
    background-color: #001F3F;
  }
}